<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            Page Loading Time : <input th:value="${pageLoadingTime}" th:text="seconds"/>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>pk</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${latestPostsList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.contents}"></td>
                <td th:text="${item.user.userId}"></td>
                <td th:text="${item.regYmdt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

</html>